* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
}

#hero {
  background: #eaeaea;
  padding: 100px 0;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
}

.content span {
  font-size: 24px;
  color: #161515;
  font-weight: 300;
}

.content h1 {
  font-size: 250px;
  font-weight: 300;
  margin-top: 50px;
}

.content p {
  font-size: 32px;
  max-width: 575px;
  font-weight: 300;
  line-height: 155%;
}

.buttons {
  display: flex;
  margin-top: 60px;
}

.buttons button {
  padding: 30px 73px;
  border: none;
  cursor: pointer;
  font-size: 32px;
}

.black {
  background: #161515;
  color: white;
}

.white {
  background: white;
  padding: 30px 27px !important;
}
